.ipad-large-view { background-position: -20px -0px; width: 298px; height: 238px; }
.appstore { background-position: -20px -258px; width: 90px; height: 32px; }
.googleplay { background-position: -130px -258px; width: 90px; height: 32px; }
.gallery-1 { background-position: -20px -310px; width: 75px; height: 75px; }
.gallery-2 { background-position: -115px -310px; width: 75px; height: 75px; }
.gallery-3 { background-position: -210px -310px; width: 75px; height: 75px; }
.ipad-basket { background-position: -20px -405px; width: 63px; height: 51px; }
.iphone6-basket { background-position: -103px -405px; width: 63px; height: 51px; }
.macbook-basket { background-position: -186px -405px; width: 63px; height: 51px; }
.fb-large { background-position: -240px -258px; width: 45px; height: 44px; }
.tw-large { background-position: -20px -476px; width: 45px; height: 44px; }
.vk-large { background-position: -85px -476px; width: 45px; height: 44px; }
.fb-small { background-position: -269px -405px; width: 27px; height: 26px; }
.tw-small { background-position: -269px -451px; width: 27px; height: 26px; }
.vk-small { background-position: -150px -476px; width: 26px; height: 26px; }
.slide-left-active { background-position: -196px -476px; width: 22px; height: 34px; }
.slide-left-inactive { background-position: -238px -497px; width: 22px; height: 34px; }
.slide-right-active { background-position: -150px -522px; width: 22px; height: 34px; }
.slide-right-inactive { background-position: -192px -530px; width: 22px; height: 34px; }
.basket { background-position: -20px -540px; width: 20px; height: 17px; }
.landmark { background-position: -280px -497px; width: 16px; height: 22px; }